<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% comment %}
    @param {Boolean} center 
{% endcomment %}

{% if include.center %}
<ul class="list-inline text-center">
{% else %}
<ul class="list-inline">
{% endif %}

  {% if site.RSS %}
  <li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
{% if site.bilibili_username %}
<li>
  <a href="https://space.bilibili.com/{{ site.bilibili_username }}" target="_blank" rel="noopener noreferrer">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x" style="color: #00A1D6;"></i>
      <i class="fa-brands fa-bilibili fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</li>
{% endif %}
{% if site.netease_username %}
<li>
  <a href="https://music.163.com/#/user/home?id={{ site.netease_username }}" target="_blank" rel="noopener noreferrer">
    <span class="fa-stack fa-lg">
      <i class="fas fa-circle fa-stack-2x" style="color: #E60012;"></i> <!-- 红色圆形背景 -->
      <i class="fas fa-headphones fa-stack-1x fa-inverse"></i> <!-- 白色耳机图标 -->
    </span>
  </a>
</li>
{% endif %}
  {% if site.weibo_username %}
  <li>
    <a target="_blank" href="https://weibo.com/{{ site.weibo_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.facebook_username %}
  <li>
    <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.github_username %}
  <li>
    <a target="_blank" href="https://github.com/{{ site.github_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.linkedin_username %}
  <li>
    <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
</ul>
